<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Web-Server</title>
      <link rel="stylesheet" href="./css/style.css" />
   </head>
   <body>
      <header>
         {{>header}}
      </header>

      <div class="main-content">
         <h2>Welcome to our weather app! <br> Simply input the location you're interested in, and we'll provide you with up-to-date weather information.</h2>
         <img src="./img/stock.jpeg" alt="Stock image" class="portrait">
      </div>

      <footer>
         {{>footer}}
      </footer>
   </body>
</html>