<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Web-Server</title>
      <link rel="stylesheet" href="./css/style.css" />
   </head>
   <body>
      <header>
         {{>header}}
      </header>

      <div class="main-content">
         <h2>Need assistance? </h2> 
         <p>Here's how to use our weather app:
         <ul>
            <li>
               Go to home
            </li>
            <li>
               Enter the location you want to check the weather for in the input field.
            </li>
            <li>
               Click or tap the 'Search' button.
            </li>
            <li>
               Voila! You'll see the current weather conditions for your chosen location.
            </li>
         </ul>
         </p>
      </div>

      <footer>
         {{>footer}}
      </footer>
   </body>
</html>