<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Web-Server</title>
      <link rel="icon" href="./img/icon.jpeg" type="image/x-icon" />
      <link rel="stylesheet" href="./css/style.css" />
      <script defer src="./js/index.js"></script>
   </head>
   <body>
      <header>
         {{>header}}
      </header>

      <div class="main-content">
         <h2>Enter any location to get its weather</h2>
         
         <form action="">
            <input type="text" name="" id="" placeholder="Location">
            <button>Search</button>
         </form>

         <p id="p1"></p>
         <p id="p2"></p>
      </div>

      <footer>
         {{>footer}}
      </footer>
   </body>
</html>